body{
    margin: 0;
}

h3{
    font-size: 35px;
    margin-left: -5px;
}
/**
    Navigation bar
**/

.nav{
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgba(244,67,54,0.63);
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 1;
}

.nav>li>a{

}

.nav>li:last-child{
    border-right: none;
}

.nav>li:hover{
    background-color: #fff;
    color: black;
}

.nav>li:hover:not(.active){
    background-color: darkgrey;
    color: black;
    transition: 1.3s
}

.active{
    /**Set active navigation bar button color here**/

}

.nav>li>a{
    display: block;
    color: white;
    /**font-weight: 150;**/
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    float: left;
    font-family: "Montserrat","Lato","sans-serif";
}

.nav>.nav-right{
    float: right;
}

/**
    End Navigation Bar
**/

.container{
    overflow: hidden;
    display: block;
}

.content{
    padding: 0.01em 16px;
}

.start-red{
    color: rgba(35,27,27,0.63);
    background-color: rgba(244,177,54,0.62);
    padding-top: 17em;
    padding-bottom: 15em;
    height: 100%;
    margin-top: 51px
    /**height: 19.89em;**/
}

.play{
    padding: 2.52em;
}

.center-heading{
    text-align: center;
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.center-line{
    display: inline-block;
    width: 110px;
    height: 1px;
    border-top: 1px solid #bbb;
    margin-top: 0;
    margin-bottom: 0;
}

.container-centered{
    width: 84%;
    height: auto;
    margin-right: 8%;
    margin-left : 8%;
}

.container-centered>.center-heading{
    display: inline-block;
    width: 20%;
    height: auto;
    margin-top: 2%;
    margin-left: 3%;
}

.left-ul-list{
    text-align: left;
}

.gimme-space{
    margin: 0.5%;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,label,td,option,article{
    font-family: "Montserrat", monospace;
    font-weight: 800;
}

.people-v{
    width: 25%;
    height: 25em;
    margin-left: 7%;
    margin-right: -2%;
    display: inline-block;
    align-content: center;
}

/**
.img-responsive{
    height: 65%;
    width: 80%;
    margin-left: 10%;
    display: block;
}
**/
.img-member{
    height: 100%;
    width: 100%;
    box-shadow:4px 4px 4px 4px rgba(0,0,0,0.2);
    padding: 2px 2px 2px 2px;
    margin-bottom: 7px;
}

.people-v2{
    display: block;
    text-align: center;
}

.nav-foot{
    overflow: hidden;
    width: 100%;
    background-color: rgba(244,67,54,0.63);
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin-top: 50px;
}

.nav-foot>ul{
    list-style-type: none;
    text-align: center;
}

section{
    display: block;
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
    padding:4px 4.5px 4px 4.5px;
    background-color:rgba(66,66,66,0.15);
}

.social>a{
    margin: 4px;
    text-decoration: none;
    color: rgba(64,64,64,.90);
}

.social>a:hover{
    color: grey;
}

.social>a>h2{
    display: inline-block;
}

.btn-take-me{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 170px;
    transition: all 0.5;
    margin: 5px;
}

.btn-take-me>span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5;
    text-decoration: none;
}

.btn-take-me:hover>span{
    padding-right: 15px;
}

.btn-take-me>span:after{
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.btn-take-me:hover >span:after{
    opacity: 1;
    right: 0;
}

.anim-wel-text{
    padding: 0;
}

.container>.content>.center-heading>.center-line{
    color: rgba(35,27,27,0.63);
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 90%;
      margin: auto;
}

.slider-section{
    margin-top: 1.9%;
}


/**Interests Page**/
.member-details h1{
        font-size: 30px;
        text-align: center;
        color: rgba(35, 27, 27, 0.63);
        padding-top: 50px;
        font-size: 30px;
        color: rgba(35, 27, 27, 0.63);
        text-align: center;
        padding-top: 50px;
        font-family: "Montserrat",monospace;
        font-weight: 800px;
}

.member-details p{
        font-size: 20px;
        font-size: 20px;
        color: rgba(35, 27, 27, 0.63);
        text-align: center;
        font-family: "Montserrat",monospace;
        font-weight: 600px;
}

.nav3 h1{
        font-size: 30px;
        color: rgba(35, 27, 27, 0.63);
        text-align: center;
        padding-top: 50px;
}

.nav3 p{
        color: rgba(35, 27, 27, 0.63);
        text-align: center;
        font-size: 20px;
        font-family: "Montserrat",monospace;
        font-weight: 600px;
}
.nav6 h1{
        font-size: 30px;
        color: rgba(35, 27, 27, 0.63);
        text-align: center;
        padding-top: 50px;
        font-family: "Montserrat",monospace;
        font-weight: 600px;
}
.nav6 p{
        color: rgba(35, 27, 27, 0.63);
        text-align: center;
        font-size: 20px;
        font-family: "Montserrat",monospace;
        font-weight: 600px;
}

.largebox h1{
        color: rgba(35, 27, 27, 0.63);
        text-align: center;
        padding-top: 10px;
        font-size: 30px;
        font-family: "Montserrat",monospace;
        font-weight: 600px;
}

.video1 h1{
        color: rgba(35, 27, 27, 0.63);
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        font-family: "Montserrat",monospace;
        font-weight: 600px;
}



.video2 h1{
        color: rgba(35, 27, 27, 0.63);
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        font-family: "Montserrat",monospace;
        font-weight: 600px;
}
.facebook-p h1{
        color: rgba(35, 27, 27, 0.63);
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        font-family: "Montserrat",monospace;
        font-weight: 600px;
}



.game-design h1{
        color: rgba(35, 27, 27, 0.63);
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        font-family: "Montserrat",monospace;
        font-weight: 600px;
}
.members{
      height:100%;
      width:100%;
      display: block;
      border-radius: 50%;
}

.member-ra{
    height:290px;
    width:300px;
    float:left; 
}

.member-details{
    height:290px;
    width:900px;
    float:left;
}


.nav5{
    height:300px;
    width:370px;
    float:left;
}

.art-intell{
            height: 250px;
            width: 300;
}

.robotics{
          height:250px;
          width: 300px;
}

.oracle{
          width:250px;
          height:300px; 
          border:none;
          overflow:hidden;
           
                                
}
.video1{
         height:300px;
         width: 400px;
         float: left;
         padding-left: 70px;
         padding-right: 50px;
}

.video2{
        height: 300px;
        width: 400px;
        float: left;
        padding-left: 70px;
        padding-right: 50px;
}

.facebook-p{
        height: 300px;
        width: 400px;
        float: left;
        padding-left: 70px;
        padding-right: 50px;
}
.game-design{
        height: 300px;
        width: 400px;
        float: left;
        padding-left: 70px;
        padding-right: 50px;
}
.largebox{
    height:300px;
    width:100%;
    align-content: center;
    margin: auto;
}

.largebox-zinhle{
       background-color: #fff;
}


.ints-container{
   overflow:hidden;
   padding: 0.5em;
   padding-top: 1.5cm;
}

#first{
	width: 308px;
	position: absolute;
	background-color: #fff;
}

#second{
	width: 308px;
	display: none;
	position: absolute;
	background-color: #fff;
}
